/* body {
  font-family: Arial, sans-serif;
  direction: rtl;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
} */

.container {
  direction: rtl;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  padding: 20px;
}

/* الجزء العلوي */
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
}

.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-details-container {
  display: flex;
  flex-direction: column;
}

.car-info {
  display: flex;
  align-items: center;
}

.car-info h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.car-details {
  flex-direction: column;
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

#car-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.car-title {
  align-self: start;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* صورة السائق */
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: 20px;
  background: none;
}

/* (زر الرجوع + الأزرار) */
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* زر الرجوع */
.back-btn {
  padding: 10px;
  width: 90px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background: #070707;
  cursor: pointer;
}

/* الأزرار */
.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  top: -10px;
}

.actions button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.actions button:hover {
  transform: translateY(-3px);
}

.print-btn {
  background: black;
  color: white;
}
.report-btn {
  background: rgb(218, 217, 217);
}

/* التبويبات وزر الحفظ */
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 2px;
}

.tab {
  padding: 5px 20px;
  background: #e2e1e1d8;
  cursor: pointer;
  border: 0px 0px 2px 0px solid #ccc;
  border-radius: 5px;
}

.tab.active {
  background: rgba(88, 88, 88, 0.445);
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

/* زر الحفظ */
.save-btn {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* ترتيب الحقول */
.form-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.input-group input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  padding-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}

/* جدول أوامر الشغل */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.orders-table th {
  background: #eee;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.km-box {
  background: #070707;
  padding: 15px;
  align-self: start;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  width: 200px;
}

.km-box p {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #000;
}
