/* body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
} */

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
  direction: rtl;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* الجزء العلوي */
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
}

.driver-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.driver-details-container {
  display: flex;
  flex-direction: column;
}

.driver-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.driver-info h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.driver-details {
  flex-direction: column;
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

#driver-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.driver-title {
  align-self: start;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* صورة السائق */
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background: none;
}

/* (زر الرجوع + الأزرار) */
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* زر الرجوع */
.back-btn {
  padding: 10px;
  width: 90px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background: #070707;
  cursor: pointer;
}

/* الأزرار */
.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  top: -10px;
}

.actions button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.actions button:hover {
  transform: translateY(-3px);
}

.print-btn {
  background: black;
  color: white;
}
.report-btn {
  background: rgb(218, 217, 217);
}
.delete-btn {
  background: #dc3545;
  color: white;
}

/* التبويبات وزر الحفظ */
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 2px;
}

.tab {
  padding: 5px 20px;
  background: #e2e1e1d8;
  cursor: pointer;
  border: 0px 0px 2px 0px solid #ccc;
  border-radius: 5px;
}

.tab.active {
  background: rgba(88, 88, 88, 0.445);
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

/* زر الحفظ */
.save-btn {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* ترتيب الحقول */
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background: rgb(223, 222, 222);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.container input {
  width: 100%;
  padding: 8px;
  padding-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}

/* جدول أوامر الشغل */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.orders-table th {
  background: #eee;
  font-weight: bold;
}

/*  النافذة المنبثقة*/
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close-modal {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.vacation-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #ddd;
}

.vacation-content {
  padding: 10px;
}

.vacation-entry {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.delete-vacation-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.container th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .container {
    width: 80%;
    padding: 40px;
    margin: 40px auto;
  }
  .profile-pic {
    width: 250px;
    height: 250px;
  }
  .driver-title {
    font-size: 44px;
  }
  .driver-info h2,
  #driver-name {
    font-size: 32px;
  }
  .form-container {
    gap: 40px;
    padding: 40px;
  }
  .input-group {
    font-size: 20px;
  }
  .orders-table th,
  .orders-table td {
    font-size: 18px;
    padding: 16px;
  }
  .modal-content {
    padding: 40px;
    min-width: 400px;
  }
}
